doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
    script(src="https://d3js.org/d3.v3.min.js")
    script(src="https://vega.github.io/vega/vega.js")
    script(src="https://vega.github.io/vega-lite/vega-lite.js")
    script(src="https://vega.github.io/vega-editor/vendor/vega-embed.js", charset="utf-8")
    script(src="https://code.jquery.com/jquery-2.2.3.min.js")
  body
    block content
